@keyframes inHoveredImageAnimation {
    0% {
        filter: grayscale(50%);
        transform: scale(1);
    }
    100% {
        filter: grayscale(0%);
        transform: scale(1.2);
    }
  }

  @keyframes outHoveredImageAnimation {
    0% {
        filter: grayscale(0%);
        transform: scale(1.2);
    }
    100% {
        filter: grayscale(50%);
        transform: scale(1);
    }
  }

  .swiper-slide {
    height: 300px;
  }

  .swiper-wrapper{
    height: 100% !important;
  }
