.swiperPilihEventPagination{
    width: auto !important;
    left: auto !important;
    right: auto !important;
    transform: translateX(10%) !important;
    margin-top: 15px;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.prevMainEvents{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 80px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nextMainEvents{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 80px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
